---
import Button from "../components/button.astro";
import BrandButton from "../components/brand-button.astro";
import argentinaImg from "../assets/argemtina.png";
import Meta from "../components/meta.astro";

const experience = [
  {
    title: "Front-end Engineer @ Yakoa",
    dateFrom: "Apr 2023",
    dateTo: "now",
    description:
      "At Yakoa, we aim to build the best IP protection platform for the blockchain. Some noteworthy aspects about my work are:",
    takeaways: [
      "Got experience working solo for the first months and mentoring interns onwards.",
      "Built the MVPs for our two apps, using NextJS",
      "Built the second iterations of our apps, using plain React this time.",
      "Worked with multiple data fetching libraries, such as react-query, urql and  Relay.",
      "Got familiarized with web3 terms and how the blockchain works.",
      "Wrote the full test suite for both of our applications, using Playwright.",
      "Built the company's own design system.",
      "Participated in the product design/development from its inception to its release.",
    ],
  },
  {
    title: "Front-end Engineer @ Selehann",
    dateFrom: "Mar 2022",
    dateTo: "Apr 2023",
    takeaways: [
      "First experience working on the agency field.",
      "Worked with many tools: React, NextJS, Typescript, Docker, AWS, Azure.",
      "Participated in multiple projects, some of them worth mentioning are: a CMS for a US government-related project, a no-code tool for training AI models and an NFT-related project.",
      "Got experience working with large teams. We were approximately 400 people working on the same thing, so collaboration between teams was the key.",
      "Led a team of 10 other front-end engineers.",
      "Designed a product from scratch and discovered my passion for building great user experiences.",
    ],
  },
  {
    title: "Full-stack Engineer @ Freelance",
    dateFrom: "May 2021",
    dateTo: "Mar 2022",
    takeaways: [
      "Got the sense of how it is to work on the IT field.",
      "Mostly built websites for local companies.",
    ],
  },
];

const contact = [
  {
    title: "LinkedIn",
    label: "Visit",
    href: "https://www.linkedin.com/in/valentin-cassarino/",
  },
  {
    title: "Github",
    label: "Visit",
    href: "https://github.com/ValenCassa",
  },
  {
    title: "Email",
    label: "Send",
    href: "mailto:valencassa@gmail.com",
  },
  {
    title: "Curriculum Vitae",
    label: "Download",
    href: "/Valentin_Cassarino_CV.pdf",
    filename: "Valentin_Cassarino_CV.pdf",
  },
];

const projects = [
  {
    name: "Palta",
    description: "A chat interface featuring the latest LLM models.",
    link: "https://app.palta.chat",
  },
  {
    name: "Roots",
    description: "A platform to help people find their dream home.",
    link: "https://roots.withalba.com",
  },
];
---

<html lang="en">
  <Meta
    title="Valentin Cassarino"
    description="Crafting interfaces. Building experiences. Making the web a better place."
  />
  <body>
    <div class="mx-auto max-w-[576px] w-full max-[592px]:px-4 pb-8">
      <nav class="flex gap-4 justify-between items-center py-3">
        <p class="font-serif text-[22px]">VC</p>
        <div class="flex items-center gap-3">
          <div class="flex gap-2">
            <a
              href="#projects"
              class="text-zinc-500 text-sm underline hover:text-zinc-950"
            >
              projects
            </a>
            <a
              href="#experience"
              class="text-zinc-500 text-sm underline hover:text-zinc-950"
            >
              experience
            </a>
            <a
              href="#posts"
              class="text-zinc-500 text-sm underline hover:text-zinc-950"
            >
              posts
            </a>
          </div>
          <Button href={"#contact"}>
            <span slot="label">Contact me</span>
          </Button>
        </div>
      </nav>

      <section class="space-y-6 mt-16">
        <div class="space-y-4">
          <h1 class="font-serif text-2xl leading-tight text-balance">
            Valentin Cassarino, Design Engineer
          </h1>
          <p class="text-sm">
            Economist turned engineer based in Argentina, driven by a passion
            for creating beautiful and engaging web experiences, always striving
            to produce the highest quality code while designing intuitive
            interfaces.
          </p>
        </div>
        <div class="flex items-center gap-4">
          <BrandButton href={"#contact"}>
            <span slot="label"> Contact me</span>
          </BrandButton>
          <div class="flex items-center gap-2">
            <span
              class="block bg-amber-500 rounded-full size-1.5 shadow-[0_0_0_3px_theme(colors.amber.100)]"
            ></span>
            <p class="text-sm text-zinc-500">Limited availability</p>
          </div>
        </div>
      </section>

      <div class="w-full flex justify-center flex-col -mt-4">
        <img
          src={argentinaImg.src}
          loading="eager"
          class="w-full [mask-image:radial-gradient(51.69%_51.69%_at_48.7%_50%,_#D9D9D9_0%,_rgba(115,_115,_115,_0)_100%)] pointer-events-none"
        />
        <span class="font-mono text-[12px] mx-auto text-zinc-500">
          Casa de Gobierno, Argentina
        </span>
      </div>

      <div class="mt-8 space-y-8">
        <section class="space-y-4" id="about">
          <h2 class="text-lg font-serif">A bit about myself</h2>
          <p class="text-sm">
            Hi there. As I mentioned before, I'm an economist turned engineer. I
            started studying economics back in 2020, but, 3 years after starting
            the degree, I realized that my passion was in the tech field. I
            learned almost all I know about programming by myself, and I've been
            working really hard to get to where I am today.
          </p>
          <p class="text-sm">
            About me personally? I'm really into the world of product design and
            tech trends, and I love a good chat about anything tech. When I'm
            working on a project, I'm all in, aiming to make things as great as
            they can be for the people using them.
          </p>
        </section>

        <section class="space-y-4" id="projects">
          <h2 class="text-lg font-serif">Projects</h2>
          <div class="flex max-[500px]:flex-col gap-4 text-sm">
            {
              projects.map(({ name, description, link }) => {
                return (
                  <a
                    href={link}
                    target="_blank"
                    rel="noreferrer"
                    class="space-y-1 relative before:absolute before:rounded-md before:-z-10 before:inset-0 min-[500px]:before:first-of-type:-translate-x-[calc(50%+8px)] min-[500px]:before:first-of-type:w-[calc(100%+4px)] before:w-[calc(100%+20px)] before:h-[calc(100%+20px)] before:top-1/2 before:left-1/2 before:-translate-y-1/2 before:-translate-x-1/2 hover:before:bg-zinc-100 before:transition-colors"
                  >
                    <p class="underline">{name}</p>
                    <p class="text-zinc-500">{description}</p>
                  </a>
                );
              })
            }
          </div>
        </section>

        <section class="space-y-4" id="experience">
          <h2 class="text-lg font-serif">Experience</h2>
          <div class="space-y-4 text-sm">
            {
              experience.map(
                ({ title, dateFrom, dateTo, takeaways, description }) => {
                  return (
                    <div class="space-y-3">
                      <div class="flex gap-2 items-center *:flex-shrink-0">
                        <p class="underline">{title}</p>
                        <hr class="flex-1" />
                        <p class="text-zinc-500">
                          {dateFrom} - {dateTo}
                        </p>
                      </div>
                      <div class="space-y-3">
                        {description ? <p>{description}</p> : null}
                        <ul class="space-y-2">
                          {takeaways.map((ta) => {
                            return (
                              <li class="flex gap-2">
                                <span class="w-2.5 bg-zinc-200 h-0.5 translate-y-2.5 flex-shrink-0" />
                                <p>{ta}</p>
                              </li>
                            );
                          })}
                        </ul>
                      </div>
                    </div>
                  );
                }
              )
            }
          </div>
        </section>

        <section class="space-y-4" id="contact">
          <h2 class="text-lg font-serif">Contact</h2>
          <div class="space-y-3">
            {
              contact.map(({ title, label, href, filename }) => {
                return (
                  <a
                    href={href}
                    class="flex items-center group text-sm gap-2 *:flex-shrink-0"
                    download={filename ? filename : undefined}
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <p class="underline">{title}</p>
                    <hr class="flex-1" />
                    <p class="text-zinc-500 group-hover:text-zinc-950">
                      {label}
                    </p>
                  </a>
                );
              })
            }
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
