---
import Button from "../components/button.astro";
import BrandButton from "../components/brand-button.astro";
import argentinaImg from "../assets/argemtina.png";
import Meta from "../components/meta.astro";

const experience = [
  {
    title: "Front-end Engineer @ Yakoa",
    dateFrom: "Apr 2023",
    dateTo: "now",
    description:
      "At Yakoa, we aim to build the best IP protection platform for the blockchain. Some noteworthy takeaways from my work are:",
    takeaways: [
      "Got experience working solo for the first months and mentoring interns onwards.",
      "Built the MVPs for our two apps, using NextJS",
      "Built the second iterations of our apps, using plain React this time.",
      "Worked with multiple data fetching libraries, such as react-query, urql and  Relay.",
      "Got familiarized with web3 terms and how the blockchain works.",
      "Wrote the full test suite for both of our applications, using Playwright.",
      "Built the company's own design system.",
      "Participated in the product design/development from its inception to its release.",
    ],
  },
  {
    title: "Front-end Engineer @ Selehann",
    dateFrom: "Mar 2022",
    dateTo: "Apr 2023",
    takeaways: [
      "First experience working on the agency field.",
      "Worked with many tools: React, NextJS, Typescript, Docker, AWS, Azure.",
      "Participated in multiple projects, some of them worth mentioning are: a CMS for a US government-related project, a no-code tool for training AI models and an NFT-related project.",
      "Got experience working with large teams. We were approximately 400 people working on the same thing, so collaboration between teams was the key.",
      "Leaded a team of 10 other front-end engineers.",
      "Designed a product from the ground-up and discovered my passion for building great user experiences.",
    ],
  },
  {
    title: "Full-stack Engineer @ Freelance",
    dateFrom: "May 2021",
    dateTo: "Mar 2022",
    takeaways: [
      "Got the sense of how it is to work on the IT field.",
      "Mostly built websites for local companies.",
    ],
  },
];

const contact = [
  {
    title: "LinkedIn",
    label: "Visit",
    href: "https://www.linkedin.com/in/valentin-cassarino/",
  },
  {
    title: "Github",
    label: "Visit",
    href: "https://github.com/ValenCassa",
  },
  {
    title: "Email",
    label: "Send",
    href: "mailto:valencassa@gmail.com",
  },
  {
    title: "Curriculum Vitae",
    label: "Download",
  },
];

const posts = [
  {
    title: "Write it down",
    slug: "write-it-down",
    date: "03/26/2024",
    isNew: true,
  },
];
---

<html lang="en">
  <Meta
    title="Valentin Cassarino"
    description="Crafting interfaces. Building experiences. Making the web a better place."
  />
  <body>
    <div class="mx-auto max-w-[576px] w-full max-[592px]:px-4 pb-8">
      <nav class="flex gap-4 justify-between items-center py-3">
        <p class="font-serif text-[22px]">VC</p>
        <div class="flex items-center gap-3">
          <div class="flex gap-2">
            <a
              href="#about"
              class="text-zinc-500 text-sm underline hover:text-zinc-950"
            >
              about
            </a>
            <a
              href="#experience"
              class="text-zinc-500 text-sm underline hover:text-zinc-950"
            >
              experience
            </a>
            <a
              href="#posts"
              class="text-zinc-500 text-sm underline hover:text-zinc-950"
            >
              posts
            </a>
          </div>
          <Button href={"#contact"}>
            <span slot="label">Contact me</span>
          </Button>
        </div>
      </nav>

      <section class="space-y-6 mt-16">
        <div class="space-y-4">
          <a
            href="https://roots.withalba.com"
            target="_blank"
            rel="noopener noreferrer"
            class="h-9 bg-zinc-50 border border-zinc-100 rounded-lg px-2 text-sm text-zinc-500 inline-flex items-center gap-4 hover:bg-zinc-100 cursor-pointer"
          >
            Just launched Roots, visit the site
            <svg
              class="size-4"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
              ></path>
            </svg>
          </a>
          <h1 class="font-serif text-2xl leading-tight text-balance">
            Valentin Cassarino, Front-end Engineer
          </h1>
          <p class="text-sm">
            Economist turned engineer based in Argentina, driven by a passion
            for creating beautiful and engaging web experiences, always striving
            to produce the highest quality code while designing intuitive
            interfaces.
          </p>
        </div>
        <div class="flex items-center gap-4">
          <BrandButton href={"#contact"}>
            <span slot="label"> Contact me</span>
          </BrandButton>
          <div class="flex items-center gap-2">
            <span
              class="block bg-amber-500 rounded-full size-1.5 shadow-[0_0_0_3px_theme(colors.amber.100)]"
            ></span>
            <p class="text-sm text-zinc-500">Limited availability</p>
          </div>
        </div>
      </section>

      <div class="w-full flex justify-center flex-col -mt-4">
        <img
          src={argentinaImg.src}
          loading="eager"
          class="w-full [mask-image:radial-gradient(51.69%_51.69%_at_48.7%_50%,_#D9D9D9_0%,_rgba(115,_115,_115,_0)_100%)] pointer-events-none"
        />
        <span class="font-mono text-[12px] mx-auto text-zinc-500">
          Casa de Gobierno, Argentina
        </span>
      </div>

      <div class="mt-8 space-y-8">
        <section class="space-y-4" id="about">
          <h2 class="text-lg font-serif">A bit about myself</h2>
          <p class="text-sm">
            Hi there. As I mentioned before, I'm an economist turned engineer. I
            started studying economics back in 2020, but after 3 years of
            starting the degree, I realized that my passion was in the tech
            field. I learned almost all I know about programming by myself, and
            I've been working really hard to get to where I am today.
          </p>
          <p class="text-sm">
            About me personally? I'm really into the world of product design and
            tech trends, and I love a good chat about anything tech. When I'm
            working on a project, I'm all in, aiming to make things as great as
            they can be for the people using them.
          </p>
        </section>

        <section class="space-y-4" id="experience">
          <h2 class="text-lg font-serif">Experience</h2>
          <div class="space-y-4 text-sm">
            {
              experience.map(
                ({ title, dateFrom, dateTo, takeaways, description }) => {
                  return (
                    <div class="space-y-3">
                      <div class="flex gap-2 items-center *:flex-shrink-0">
                        <p class="underline">{title}</p>
                        <hr class="flex-1" />
                        <p class="text-zinc-500">
                          {dateFrom} - {dateTo}
                        </p>
                      </div>
                      <div class="space-y-3">
                        {description ? <p>{description}</p> : null}
                        <ul class="space-y-2">
                          {takeaways.map((ta) => {
                            return (
                              <li class="flex gap-2">
                                <span class="w-2.5 bg-zinc-200 h-0.5 translate-y-2.5 flex-shrink-0" />
                                <p>{ta}</p>
                              </li>
                            );
                          })}
                        </ul>
                      </div>
                    </div>
                  );
                }
              )
            }
          </div>
        </section>

        <section class="space-y-4" id="posts">
          <h2 class="text-lg font-serif">Thougths</h2>
          <div class="space-y-3">
            {
              posts.map(({ title, slug, date, isNew }) => {
                const href = `/thoughts/${slug}`;
                return (
                  <a class="flex items-center gap-2 group" href={href}>
                    {isNew ? (
                      <span class="h-5 inline-grid place-content-center rounded-full px-1.5 bg-[#1679FA] font-medium text-[12px] text-white">
                        New
                      </span>
                    ) : null}
                    <p class="underline text-sm">{title}</p>
                    <hr class="flex-1" />
                    <p class="text-zinc-500 text-sm group-hover:text-zinc-950">
                      {date}
                    </p>
                  </a>
                );
              })
            }
          </div>
        </section>

        <section class="space-y-4" id="contact">
          <h2 class="text-lg font-serif">Contact</h2>
          <div class="space-y-3">
            {
              contact.map(({ title, label, href }) => {
                return (
                  <a
                    href={href}
                    class="flex items-center group text-sm gap-2 *:flex-shrink-0"
                    download={title === "Curriculum Vitae"}
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <p class="underline">{title}</p>
                    <hr class="flex-1" />
                    <p class="text-zinc-500 group-hover:text-zinc-950">
                      {label}
                    </p>
                  </a>
                );
              })
            }
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
